
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
     <h2 style="color: green;">Snow Flakes</h2>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/admin/login">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/manageuser">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/view_products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/category">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/bannermanage">Banner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orderstatus">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/coupen">Coupen</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->

      <!-- Avatar -->
    <a type="button" class="btn btn-danger" href="/admin/adminlogout">Logout</a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
        
<form action="/admin/addcategory"  method="post" id="category" enctype="multipart/form-data">
                <div style="width:70% ; margin-left: 8cm;" class="form-outline d-flex justify-content-center  form-control-sm shadow  mt-5 ">
                  <input type="text" id="categoryname" required name="categoryname" class="form-control-lg form-control " placeholder="Enter category name" />
                  
                  {{!-- <label class="form-label" for="form3Example4cdg"></label> --}}
                  {{#if categoryexist}}
                  
                  <p style="color: red ">Category already exist</p>

                  {{/if}}
                </div>
                <br><div class="form-group d-flex justify-content-center">

  <div class="col-md-4">
      <label class="col-md-4 control-label"   for="filebutton">main_image</label>
    <input id="filebutton" multiple name="image" id="image" class="input-file" type="file">
  </div>
</div>  
                 
                 <div class="d-flex justify-content-center mt-5">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Submit</button>
                </div>
                  
              </form>
              {{!-- <a style="width: 1.5cm;" type="button" action="post" href="/admin" class="btn btn-sucess">Home</a> --}}


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
<script>

$(document).ready(function (){
  $("#category").validate({
    
    rules:{
      categoryname:{
        required:true,
        
       
      },
      image:{
        required:true,
       

      },
     
      
    },

    
    messages:{
      categoryname:{
        required:"Enter Category name",
        
      },
      image:{
        required:"select an image",
            
        },
      
    
    
    }
  
  });
})





</script>












{{!-- <!DOCTYPE html>
<html lang="en"> --}}









