{{!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" name="OTP" require="" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Enter OTP</label>
                </div>
  </div>
</div> --}}
  {{!-- </form> --}}
              <form action="/otpverify"  method="post">
                <div class="form-outline mb-4 d-flex justify-content-center mt-5">
                  <input type="number" id="form3Example4cdg" required name="otp" require="" class="form-control-xs " placeholder="Enter OTP" />
                  {{!-- <label class="form-label" for="form3Example4cdg"></label> --}}
                </div>
                 <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Verify</button>
                </div>
                  
              </form>




